.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 65px auto;
  width: 37.5%;
  min-width: 300px;
  height: 50%;
  background-color: var(--primary-bg-color);
}