:root {
  --primary-color: #ff6600;
  --white-text-color: #ffffff;
  --primary-bg-color: #ffffff;
  --primary-text-color: #1c1c1c;
  --mute-color: #657786;
  --border-stroke-color:#E6ECF0;
  --input-bg-color:#F5F8FA;
  --modal-bg-color: rgba(0, 0, 0, 0.4);
  --blue-text-color:#0099FF;
  --popular-line-color:#E6ECF0;
  --avatar-bg-color:#C4C4C4;
  --share-border-color: #E6ECF0;
  --share-placeholder-color: #9197A3;
  --alert-message-color: #FC5A5A;
  --user-card-background-color: #F6F7F8;
  --like-color:#E0245E;
}
