:root {
  --primary-color: #ff6600;
  --white-text-color: #ffffff;
  --primary-bg-color: #e5e5e5;
  --primary-text-color: #1c1c1c;
  --mute-color: #657786;
  --input-bg-color:#F5F8FA;
  --modal-bg-color: rgba(0, 0, 0, 0.4);
  --blue-text-color:#0099FF;
  --popular-line-color:#E6ECF0;
  --avatar-bg-color:#C4C4C4;
}
