//繼承的scss放這裡
//在需要的components style scoped
//@import extends.scss
//@extend %xxx 即可繼承

//button基本樣式
%button-style {
  display: block;
  height: 46px;
  font-size: 18px;
  font-weight: 800;
  width: 100%;
  font-weight: 800;
  border-radius: 50px;
}

%button-group {
  width: 100%;
}

//登入介面container style
%alphitterContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 65px auto;
  width: 37.5%;
  min-width: 300px;
  height: 50%;
  background-color: var(--primary-bg-color);
}

// 人像共用樣式
%share-avatar-style {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

// 使用者資訊共用樣式
%share-user-info-style {
  padding-left: 0.2rem;
  color: var(--mute-color);
}

// 提示訊息共用樣式
%share-alert-message-style {
  position: absolute;
  bottom: 2.3rem;
  right: 7rem;
  color: var(--alert-message-color);
}